<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

    <!--headerFragment 선언-->
    <nav th:fragment="headerFragment" class="headerbar">
        <div class="headerFrame">
            <div class="navbar_logo">
                <!--<i class="fab fa-accusoft"></i>-->
                <img th:src="@{/static/images/moboo_logo.jpeg}"></img>
                <a href="/moveMain">모두의부동산</a>
            </div>

            <a href="#" class="navbar_toggleBtn">
                <i class="fas fa-bars" id="openBtn"></i>
                <i class="fas fa-times" id="closeBtn" ></i>
            </a>
        </div>
    </nav>

</html>
