<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

    <th:block layout:fragment="script">
        <script th:src="@{/static/js/consulting.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <section class="section">
            <div class="contentFrame">

                <div class="titleArea">
                    <div class="contents_title">상담은 이렇게 진행됩니다</div>
                    <hr class="split_title">
                    <div class="contents_title_explain">아래 내용을 확인하고, 상담 종류와 일정을 선택하여 상담 예약을 진행해주세요.</div>
                </div>

                <div class="contentArea">
                    <div class="consultingContentArea">

                        <!-- 1. 상담 유형 선택 -->
                        <div class="consultingGuideBox">
                            <img th:src="@{/static/images/consulting_type.png}" style="width:40px; vertical-align:middle;"></img>
                            <span class="contents_small_title">상담 유형 선택</span>

                            <div class="radioForm">
                                <ul>
                                    <li class="select_type">
                                        <input type="radio" id="consultType_Phone" name="consultType">
                                        <label for="consultType_Phone">전화 상담</label>
                                        <select id="phone_Detail">
                                            <option value="">선택</option>
                                            <option value="1">부동산 상담(종합)</option>
                                            <option value="2">아파트 청약 전략 상담</option>
                                            <option value="3">재개발/재건축 상담</option>
                                            <option value="4">건물/상가 상담</option>
                                        </select>
                                        <div class="check"></div>
                                    </li>
                                    <li class="imp_explain" id="consultTypePrice_Phone" style="display:none;">
                                        <span class="block pb10">
                                            <span class="txt_3 grey">* 상담 시간</span>
                                            <span class="txt_3 blueGrey bold pl50">1시간</span>
                                        </span>
                                        <span class="block pb10">
                                            <span class="txt_3 grey">* 상담 금액</span>
                                            <span class="txt_3 blueGrey bold pl50">70만원</span>
                                        </span>
                                    </li>
                                    <li class="explain mb10 pb20" id="consultTypeExplain_Phone" style="display:none;">
                                        <span class="content_text_explain">
                                            예약한 시간에 상담사가 직접 의뢰인에게 전화해 상담을 진행합니다.<br>
                                            예약 시 작성한 상담 글을 상담사가 사전 검토합니다.<br>
                                            상담이 끝나면 상담의 핵심내용을 상담사가 요약하여 제공합니다.<br>
                                            (상담 결과는 필수항목이 아닙니다.)<br>
                                            상담 후 추가적인 요청에 의한 서비스는 추가 상담료가 발생할 수 있습니다.<br>
                                        </span>
                                    </li>
                                    <li class="select_type">
                                        <input type="radio" id="consultType_Visit" name="consultType">
                                        <label for="consultType_Visit">방문 상담</label>
                                        <select id="visit_Detail">
                                            <option value="">선택</option>
                                            <option value="1">부동산 상담(종합)</option>
                                            <option value="2">아파트 청약 전략 상담</option>
                                            <option value="3">재개발/재건축 상담</option>
                                            <option value="4">건물/상가 상담</option>
                                        </select>
                                        <div class="check"></div>
                                    </li>
                                    <li class="imp_explain" id="consultTypePrice_Visit" style="display:none;">
                                        <span class="block pb10">
                                            <span class="txt_3 grey">* 상담 시간</span>
                                            <span class="txt_3 blueGrey bold pl50">2시간</span>
                                        </span>
                                        <span class="block pb10">
                                            <span class="txt_3 grey">* 상담 금액</span>
                                            <span class="txt_3 blueGrey bold pl50">100만원</span>
                                        </span>
                                    </li>
                                    <li class="explain mb10 pb20" id="consultTypeExplain_Visit" style="display:none;">
                                        <span class="content_text_explain">
                                            예약한 시간에 상담사의 사무실 또는 약속한 장소에서 상담을 진행합니다.<br>
                                            예약 시 작성한 상담 글을 상담사가 사전 검토합니다.<br>
                                            상담이 끝나면 상담의 핵심내용을 상담사가 요약하여 제공합니다.<br>
                                            (상담 결과는 필수항목이 아닙니다.)<br>
                                            상담 후 추가적인 요청에 의한 서비스는 추가 상담료가 발생할 수 있습니다.<br>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <hr class="split_line">

                        <!-- 2. 상담 날짜 선택 -->
                        <div class="consultingGuideBox">
                            <img th:src="@{/static/images/consulting_date.png}" style="width:40px; vertical-align:middle;"></img>
                            <span class="contents_small_title">상담 날짜 선택</span>

                            <div class="select_date">
                                    <span class="arrow">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                <span class="each_date">
                                        <div class="date">04</div>
                                        <div class="dayWeek">토요일</div>
                                    </span>
                                <span class="each_date">
                                        <div class="date">05</div>
                                        <div class="dayWeek">일요일</div>
                                    </span>
                                <span class="each_date">
                                        <div class="date">06</div>
                                        <div class="dayWeek">월요일</div>
                                    </span>
                                <span class="each_date">
                                        <div class="date">07</div>
                                        <div class="dayWeek">화요일</div>
                                    </span>
                                <span class="each_date">
                                        <div class="date">08</div>
                                        <div class="dayWeek">수요일</div>
                                    </span>
                                <span class="each_date">
                                        <div class="date">09</div>
                                        <div class="dayWeek">목요일</div>
                                    </span>
                                <span class="each_date">
                                        <div class="date">10</div>
                                        <div class="dayWeek">금요일</div>
                                    </span>
                                <span class="arrow">
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                            </div>
                        </div>

                        <hr class="split_line">

                        <!-- 3. 시간 선택 -->
                        <div class="consultingGuideBox">
                            <img th:src="@{/static/images/consulting_time.png}" style="width:40px; vertical-align:middle;"></img>
                            <span class="contents_small_title">상담 시간 선택</span>

                            <div class="select_time">
                                <div class="select_time_row">
                                    <span class="each_time">11:00</span>
                                    <span class="each_time">12:00</span>
                                    <span class="each_time">13:00</span>
                                    <span class="each_time">14:00</span>
                                    <span class="each_time">15:00</span>
                                    <span class="each_time">16:00</span>
                                    <span class="each_time">17:00</span>
                                </div>
                                <div class="select_time_row">
                                    <span class="each_time">18:00</span>
                                    <span class="each_time">19:00</span>
                                    <span class="each_time">20:00</span>
                                    <span class="each_time">21:00</span>
                                    <span class="each_time">22:00</span>
                                    <span class="each_time">23:00</span>
                                    <span class="each_time">24:00</span>
                                </div>
                            </div>
                        </div>

                        <hr class="split_line">

                        <!-- 4. 상담자 정보 -->
                        <div class="consultingGuideBox">
                            <img th:src="@{/static/images/consulting_info.png}" style="width:40px; vertical-align:middle;"></img>
                            <span class="contents_small_title">상담자 정보</span>

                            <div class="consultant_info">
                                <table>
                                    <colgroup>
                                        <col style="width:20%">
                                        <col style="width:auto">
                                    </colgroup>
                                    <tr>
                                        <td>상담인</td>
                                        <td>김정태 대표</td>
                                    </tr>
                                    <tr>
                                        <td>사무소</td>
                                        <td>모두의부동산</td>
                                    </tr>
                                    <tr>
                                        <td>주소</td>
                                        <td>경기도 성남시 분당구 판교역로 145 알파리움 10층 모두의부동산</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <hr class="split_line">

                        <!-- 5. 예약취소 및 환불규정 -->
                        <div class="consultingGuideBox">
                            <img th:src="@{/static/images/consulting_rule.png}" style="width:40px; vertical-align:middle;"></img>
                            <span class="contents_small_title">예약취소 및 환불규정</span>

                            <div class="cancel_refund">
                                예약취소는 전화상담 <span class="imp">1시간 전까지 마이페이지에서 취소 가능</span>하며 이후에는 취소 및 환불이 불가능합니다.<br>
                                예약날짜 및 시간변경은 전화상담 1시간 전까지만 마이페이지에서 변경 가능합니다.<br>
                                상담사 사정으로 상담을 하지 못한 경우에는 100% 환불해드립니다.
                            </div>
                        </div>

                    </div>
                </div>

                <div class="bottomArea">
                    <button class="important" onclick="goReservation()">상담 예약하기</button>
                </div>

            </div>
        </section>

        <div id="popup_layer" style="display:none;">
            <div class="popBox loginPop">
                <div class="popClose">
                    <img th:src="@{/static/images/btnClose.png}" class="popCloseBtn"></img>
                </div>
                <div class="popCont">
                    <div class="row">
                        <img th:src="@{/static/images/mobooLogo_Black.png}" class="logo"></img>
                    </div>
                    <div class="row">
                        <span class="bigText">상담 예약을 위해 로그인이 필요합니다.</span>
                    </div>
                    <div class="row">
                        <button class="loginBtn blue" onclick="goMemberLogin()">회원<br>로그인</button>
                        <button class="loginBtn grey" onclick="goNonMemberLogin()">비회원<br>상담예약</button>
                    </div>
                    <div class="row btw">
                        <span class="smallText">아직 모두의부동산 회원이 아니신가요?</span>
                        <span class="smallText link" id="joinLink" onclick="goJoin()">회원가입</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>