<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

    <th:block layout:fragment="script">
        <script th:src="@{/static/js/introduction.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <section class="section">
            <div class="contentFrame">
                <div class="introduction">
                    <div class="introduction_contents_row">
                        <div class="introduction_contents_cell">
                            <div class="contents_title">모두의 부동산은</div>
                            <hr class="split_title">
                        </div>
                    </div>
                    <div class="introduction_contents_row">
                        <div class="introduction_contents_cell">
                            <div class="contents_center">
                                <img th:src="@{/static/images/introduce_profile3.png}" style="width:400px; border-radius: 50%;"></img>
                            </div>
                        </div>
                    </div>
                    <div class="introduction_contents_row">
                        <div class="introduction_contents_cell">
                            <div class="contents_center">
                                <div class="introduction_text">
                                    <div class="text">
                                        부동산 투자의 최적기를 이미 놓쳤다고 생각하는,<br><br>
                                        그래서 좌절하고 있는 수많은 무주택자 및 1주택자를 <br><br>
                                        가난에서 구하기 위하여 존재합니다.
                                    </div>
                                    <div class="signature">
                                        모두의부동산 대표 <span class="imp">김 정 태</span><img th:src="@{/static/images/signature.png}" style="width:200px; vertical-align:bottom;"></img>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</html>