<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

    <th:block layout:fragment="script">
        <script th:src="@{/static/js/review.js}"></script>
    </th:block>

    <div layout:fragment="content">
        <section class="section">
            <div class="contentFrame">
                <div class="review">
                    <div class="review_contents_row">
                        <div class="review_contents_cell">
                            <div class="contents_title">상담후기</div>
                            <hr class="split_title">
                        </div>
                    </div>
                    <div class="review_contents_row">
                        <div class="review_contents_cell">
                            <div class="contents_left">
                                <span class="contents_small_title">상담 받고 청약에 당첨되었습니다.</span>
                                <div class="review_contents">
                                    모두의부동산에서 상담을 받고 나서야 청약에 전략이 필요하다는 것을 알게 되었습니다.<br>
                                    반신반의 하며 상담 때 말씀해주신대로 준비하여 *** ****에 청약을 넣었는데, 정말 당첨이 되어 제가 평생 벌어도 모<br>
                                    을수 있을까 말까 한 금액을 시세 차익으로 얻게... <u>더보기</u>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="split_line">

                    <div class="review_contents_row">
                        <div class="review_contents_cell">
                            <div class="contents_left">
                                <span class="contents_small_title">상담 받고 청약에 당첨되었습니다.</span>
                                <div class="review_contents">
                                    모두의부동산에서 상담을 받고 나서야 청약에 전략이 필요하다는 것을 알게 되었습니다.<br>
                                    반신반의 하며 상담 때 말씀해주신대로 준비하여 *** ****에 청약을 넣었는데, 정말 당첨이 되어 제가 평생 벌어도 모<br>
                                    을수 있을까 말까 한 금액을 시세 차익으로 얻게... <u>더보기</u>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="split_line">

                    <div class="review_contents_row">
                        <div class="review_contents_cell">
                            <div class="contents_left">
                                <span class="contents_small_title">상담 받고 청약에 당첨되었습니다.</span>
                                <div class="review_contents">
                                    모두의부동산에서 상담을 받고 나서야 청약에 전략이 필요하다는 것을 알게 되었습니다.<br>
                                    반신반의 하며 상담 때 말씀해주신대로 준비하여 *** ****에 청약을 넣었는데, 정말 당첨이 되어 제가 평생 벌어도 모<br>
                                    을수 있을까 말까 한 금액을 시세 차익으로 얻게... <u>더보기</u>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="split_line">

                    <div class="review_contents_row">
                        <div class="review_contents_cell">
                            <div class="contents_left">
                                <span class="contents_small_title">상담 받고 청약에 당첨되었습니다.</span>
                                <div class="review_contents">
                                    모두의부동산에서 상담을 받고 나서야 청약에 전략이 필요하다는 것을 알게 되었습니다.<br>
                                    반신반의 하며 상담 때 말씀해주신대로 준비하여 *** ****에 청약을 넣었는데, 정말 당첨이 되어 제가 평생 벌어도 모<br>
                                    을수 있을까 말까 한 금액을 시세 차익으로 얻게... <u>더보기</u>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="split_line">
                </div>
            </div>
        </section>
    </div>
</html>